/* Include Default Variables & Mixins */
@import "variables.scss";
@import "mixins.scss";
/* End Variables & Mixins */

/*------------------------------------------------
[Table of contents]
0. Reset
1. Global
  1.1. Zones
  1.2. Regions
2. Section header
  2.1. Zone user
    2.1.1. Region user first
    2.1.2. Region user second
  2.2. Zone branding
  2.3. Zone menu
  2.4. Zone header
3. Section content
  3.1. Zone preface
  3.2. Zone content
    3.2.1. Sidebar first
    3.2.2. Content
    3.2.3. Sidebar second
  3.3 Zone postscript
4. Section footer
  4.1. Zone footer
  4.2. Zone footer2
5. Commerce specific
  5.1. Search & Collection page
  5.2. All products page
  5.3. Product page
  5.4. Checkout process
6. Kickstart specific
  6.1. Homepage elements
7. Blog
8. User account
------------------------------------------------*/

/**************************************************
* --
* 1. Global
* --
**************************************************/
body {
  margin: 0;
}
/**************************************************
* --
* 2. Section header
* --
**************************************************/
/**********************************************
* 2.1. Zone user
**********************************************/
.zone-user-wrapper {
  position: fixed;
  z-index: 1000;
}
/*******************************************
* 2.1.2. Region user second
*******************************************/
#region-user-second {
  background-color: transparent;
  
}
.region-user-second .region-user-second-inner {
  
}
#block-views-shopping-cart-block {
  
  margin: 0;
}
#block-views-shopping-cart-block .content .view-shopping-cart .view-empty p {
  padding-right: 25px;
  display: block;
}
#region-branding {
  .logo-img {
    text-align: left;
    float: left;
  }
}
#block-views-exp-display-products-page {
  float: right;
  padding-top: 10px;
  margin-bottom: 10px;
}

#block-views-exp-display-products-page .views-exposed-widgets {
  position: relative;
  width: 300px;
  float: none;
  margin-right: 10px;
  margin-bottom: 0;
}
/**********************************************
* 2.3. Zone menu
**********************************************/
.navigation {
  background: $tabletmenubg;
  padding-bottom: 0;
  display: block !important;
  margin: 20px 0;
}
.navigation .primary-menu,
.navigation .second-menu {
  h2 {
    display: none;
  }
}
.menu-toggle {
  display: none;
}
.navigation .primary-menu {
  float: left;
  margin-right: 12px;
  margin-left: 0;
}
.navigation .second-menu {
  clear: inherit;
  float: right;
  margin-right: 0;
}
.navigation .primary-menu ul,
.navigation .second-menu ul {
  float: left;
  margin: 0;
  width: 100%;
  display: block;
}
.navigation .primary-menu .main-menu ul li,
.navigation .second-menu .secondary-menu ul li,
.navigation .primary-menu .main-menu li,
.navigation .second-menu .secondary-menu li {
  float: inherit;
  width: auto;
  font-size: 0.8em;
}
.main-menu a,
.secondary-menu a {
  display: inline;
}
.navigation .primary-menu li a,
.navigation .primary-menu li a.active,
.navigation .primary-menu li a:hover,
.navigation .second-menu li a,
.navigation .second-menu li a.active,
.navigation .second-menu li a:hover {
  border-left-width: 0;
  border-right-width: 0;
}
/* Main menu */
.navigation li.first a {
  
}
.navigation li.first a,
.navigation li.first a.active,
.navigation li.first a:hover {
  border-left: $mainmenuitemborder;
}
.navigation li.last a {
  
}
.navigation li.last a,
.navigation li.last a.active,
.navigation li.last a:hover {
  border-right: $mainmenuitemborder;
}
/* Secondary menu */
.navigation .second-menu li.first a,
.navigation .second-menu li.first a.active,
.navigation .second-menu li.first a:hover {
  border-left: $mainmenuitemborder;
}
.navigation .second-menu li.last a,
.navigation .second-menu li.last a.active,
.navigation .second-menu li.last a:hover {
  border-right: $mainmenuitemborder;
}
/**************************************************
* --
* 3. Section content
* --
**************************************************/
/**********************************************
* 3.2. Zone content
**********************************************/
/*******************************************
* 3.2.1. Sidebar first
*******************************************/
/* Price range */
#search-api-ranges-block-view-form label {
  float: left;
}
/*******************************************
* 3.2.2. Content
*******************************************/
/**
* Blocks
*/
/* HP blocks: Top advert */
#promotional_banner {
  padding-bottom: 10px
}
#promotional_banner .promotional_banner_saving {
  font-family: $headerfont;
  font-weight: 900;
  font-size: 28px;
}
#promotional_banner span {
  font-family: $headerfont;
  font-weight: 400;
  font-size: 16px;
  line-height: 38px;
  text-transform: uppercase;
}

#block-views-demo-content-slideshow-block-1 { 
  /* HP blocks: Slideshow */
  position: relative;
  .bx-wrapper,
  .bx-wrapper .bx-window {
    max-height: 168px;
    padding-bottom: 0;
    width: 100% !important;
  }
  .bx-wrapper ul {
    max-height: 165px;
    width: 100%;
    min-width: 344px;
    max-width: 344px;
  }
  .view-display-id-block_3 .item-list .event-slider li {
    height: 168px;
    margin: 0 auto;
    width: 344px;
  }
  .view-display-id-block_3 .item-list .event-slider li img {
    width: 100%;
    height: auto;
  }
  .event-slider .views-field-nothing,
  .event-slider .views-field-nothing em,
  .view-display-id-block_3 .bx-prev,
  .view-display-id-block_3 .bx-prev em,
  .view-display-id-block_3 .bx-next,
  .view-display-id-block_3 .bx-next em {
    display: none;
    text-indent: -9999px;
  }
}

#block-commerce-kickstart-content-shipping-discount {
  /* HP blocks: Side advert */
  left: 10px;
  bottom: 10px;
  position: absolute;
  z-index: 100;
  #shipping {
    margin-top: 0;
    width: 130px;
    border-color: #FFF;
  }
}
/**********************************************
* 3.3. Zone postscript
**********************************************/
.zone-postscript .grid-8 {
  width: inherit;
  margin: 0 10px;
  padding: 0;
  float: left; 
}

#zone-postscript {
  /* Adverts blocks */
  .views-row {
    background-color: #cccccc;
    border: 1px solid #b1b1b1;
    //margin: 5px;
    padding: 10px;
    position: relative;
  }
  
  .views-row img,
  .block-blog-block img {
    max-width: 100%;
    height: auto;
  }
  
  .block-blog-block .block-title {
    background: transparent url('../images/bg_block_homepage_title.png') -18px top no-repeat;
    margin-top: 25px;
    padding-left: 25px;
    position: absolute;
    top: 0;
    left: -1px;
    text-align: left;
    width: 112px;
    z-index: 1;
  }
  
  .views-row .views-field-field-tagline,
  .block-blog-block .views-field-title {
    
  }
  .views-row .views-field-field-tagline,
  .block-blog-block .views-field-title .field-content {
    display: block;
    min-height: 90px;
    margin: 10px auto 0 auto;
  }
  .views-row .views-field-field-tagline a,
  .block-blog-block .views-field-title a {
    padding: 15px 10px;
    min-height: 60px;
  }
  
  
  .views-row .views-field-field-tagline .field-content,
  .block-blog-block .views-field-title .field-content {
    font-size: 14px;
    line-height: 20px;
  }
}
/**************************************************
* --
* 4. Section footer
* --
**************************************************/
.section-footer ul.menu li {
  display: inline;
  float: left;
}
.block-payment {
  width: auto;
  float: right;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

/**************************************************
* --
* 5. Commerce specific
* --
**************************************************/
/**********************************************
* 5.1. Search & Collection page
**********************************************/
/**
* Collection page
*/
.view-collection-taxonomy-term .view-header h2 {
  font-size: 98px;
  line-height: 100px;
  margin: 0;
  position: absolute;
  bottom: 18px;
  left: 15px;
}
.view-collection-taxonomy-term .view-header .collection-terms {
  margin: 5px;
  position: absolute;
  right: 0;
  bottom: 5px;
}
.view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content .item-list {
  clear: both;
  margin: 0;
}
.view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content .item-list h3 a,
.view-collection-taxonomy-term .view-header .view-collection-taxonomy-term .view-content .item-list h3 a:hover {
  border: 0;
}
/**********************************************
* 5.3. Product page
**********************************************/
/* Product details */
.commerce-add-to-cart label {
  float: left;
}
.commerce-kickstart-add-to-cart .field-name-field-images {
  clear: left;
  float: left;
}
/**************************************************
* --
* 6. Kickstart specific
* --
**************************************************/
/**********************************************
* 6.1. Homepage
**********************************************/

/**************************************************
* --
* 8. User account
* --
**************************************************/
/* User login, registration, lost password */
#user_login_form,
#user_pass_form,
#user_register_form,
.create-account {
  clear: none;
  float: left;
  width: 45%;
}
#user_pass_form {
  width: auto;
}
a.login-register {
  margin-left: 25px;
}
/* User/login */
#user_login_form {
  border: 0;
  border-right: 1px solid #2989D8;
  padding-right: 20px;
}
.create-account {
  margin: 0;
  padding: 0 20px 20px 20px;
}
